VITE_SUPABASE_URL=https://vgchgcvfyxwyqccvliep.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnY2hnY3ZmeXh3eXFjY3ZsaWVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NTA3NDQsImV4cCI6MjA4OTMyNjc0NH0.piUD85HT5Zn5gyhxyHYcQpB2u4cAPqSQ0PEdd1TxyPk
VITE_WHATSAPP_BUSINESS_NUMBER=5592986202729
VITE_WHATSAPP_PHONE_NUMBER_ID=
VITE_PASSWORD_RESET_URL=http://localhost:5173/
